{% include 'head.html' %}

<h1>{{title}}</h1>

<form action="/make-login" method="post" class="row g-3 pt-2">

    <div class="col-12">
        <div class="form-floating">
            <input type="email" name="email" class="form-control" placeholder="Your email" autocomplete="off" required>
            <label>Your email</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating">
            <input type="password" name="password" class="form-control" placeholder="Your password" autocomplete="off" required>
            <label>Your password</label>
        </div>
    </div>

    <div class="col-12">
        <a href="/signup" class="btn btn-link">Not signed yet? Sign up!</a>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-lg btn-primary w-100">Login</button>
    </div>

</form>

{% include 'bottom.html' %}