{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <script src="js/vanilla-masker.min.js"></script>
    <script defer src="js/signup.js"></script>
{% endblock %}

{% block main %}
    <h1>{{title}}</h1>

    <form action="/save-user" method="post" class="row g-3 pt-2">
    
        <div class="col-12">
            <div class="form-floating">
                <input type="text" name="name" class="form-control" placeholder="Your name" autocomplete="off" required>
                <label>Your name</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                <input type="email" name="email" class="form-control" placeholder="Your email" autocomplete="off" required>
                <label>Your email</label>
            </div>
        </div>
    
        <div class="col-12">
            <div class="form-floating">
                <input type="tel" name="document" class="form-control" placeholder="Your document" autocomplete="off" maxlength="14" pattern="^(?:\d{3}\.){2}\d{3}-\d{2}$" required>
                <label>Your document</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                <input type="tel" name="phone" class="form-control" placeholder="Your phone with country and area code" autocomplete="off" maxlength="17" pattern="^\+\d{2}\s\d{2}\s\d{5}-\d{4}$" required>
                <label>Your phone with country and area code</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                <input type="tel" name="date" class="form-control" placeholder="Your birth date (yyyy/mm/dd)" autocomplete="off" maxlength="10" required>
                <label>Your birth date (yyyy/mm/dd)</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                <input type="password" name="password" class="form-control" placeholder="Your password" autocomplete="off" required>
                <label>Your password</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm your password" autocomplete="off" required>
                <label>Confirm your password</label>
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-lg btn-primary w-100">Save</button>
        </div>

    </form>
{% endblock %}